<head>
<style>

    .story-box{
        border:1px solid black;

        padding:5px;
        margin-right:10px;
        margin-bottom:10px;
    }
    .big-story-box{
        border:1px solid black;

        padding:5px;
        margin-right:10px;
        margin-bottom:10px;
    }

    h2{
        font-size:20px;
        text-align: center;
    }
    h3{
        font-size:12px;
    }
    p{
        font-size:10px;
    }
    .italic{
        font-style:italic;
    }
    .bold{
        font-weight:bold;
    }
    .date{
        display:inline;
    }
    .editors{
        display:inline;
    }
</style>
</head>

<div ng-controller="IndexController">

  <super-navbar>
    <super-navbar-title>
      Editor
    </super-navbar-title>
  </super-navbar>

  <div class="padding container">
      <div class="list list-inset">
  <label class="item item-input">
    <i class="icon super-search placeholder-icon"></i>
    <input type="text" placeholder="Search">
  </label>
</div>
      <div class="row">
    
<super-navigate location="editor#story">
<div class="card">
    <div class="item item-divider">
        My Story 1
    </div>
  <div class="item item-text-wrap">
      <p class="italic">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Donec dictum posuere elit vitae efficitur.</p>
    <div class="row">
      <p class="bold">date posted:</p>
        &nbsp;
      <p class="date">09/06/2015</p>
      </div>
    <div class="row">
        <p class="bold">last updated: </p>
          &nbsp;  
        <p class="date">09/25/2015</p>
    </div> 
      <div class="row">
      <p class="bold">edited by: </p>
          &nbsp;
      <p class="editors">Hannah, Kammy, Andy, Jennifer</p>
    </div>
  </div>
</div>
</super-navigate>
      </div><!--end row-->
      <div class="row">
      <super-navigate location="editor#story">
    <div class="card">
    <div class="item item-divider">
        My Story 1
    </div>
  <div class="item item-text-wrap">
      <p class="italic">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Donec dictum posuere elit vitae efficitur.</p>
    <div class="row">
      <p class="bold">date posted:</p>
        &nbsp;
      <p class="date">09/06/2015</p>
      </div>
    <div class="row">
        <p class="bold">last updated: </p>
          &nbsp;  
        <p class="date">09/25/2015</p>
    </div> 
      <div class="row">
      <p class="bold">edited by: </p>
          &nbsp;
      <p class="editors">Hannah, Kammy, Andy, Jennifer</p>
    </div>
  </div>
</div>
</super-navigate>
          
      </div><!--end row-->
      
      <div class="row">
      
      <super-navigate location="editor#story">
    <div class="card">
    <div class="item item-divider">
        My Story 1
    </div>
  <div class="item item-text-wrap">
      <p class="italic">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Donec dictum posuere elit vitae efficitur.</p>
    <div class="row">
      <p class="bold">date posted:</p>
        &nbsp;
      <p class="date">09/06/2015</p>
      </div>
    <div class="row">
        <p class="bold">last updated: </p>
          &nbsp;  
        <p class="date">09/25/2015</p>
    </div> 
      <div class="row">
      <p class="bold">edited by: </p>
          &nbsp;
      <p class="editors">Hannah, Kammy, Andy, Jennifer</p>
    </div>
  </div>
</div>
</super-navigate>
      </div><!--end row-->
      <div class="row">
      <super-navigate location="editor#story">
    <div class="card">
    <div class="item item-divider">
        My Story 1
    </div>
  <div class="item item-text-wrap">
      <p class="italic">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Donec dictum posuere elit vitae efficitur.</p>
    <div class="row">
      <p class="bold">date posted:</p>
        &nbsp;
      <p class="date">09/06/2015</p>
      </div>
    <div class="row">
        <p class="bold">last updated: </p>
          &nbsp;  
        <p class="date">09/25/2015</p>
    </div> 
      <div class="row">
      <p class="bold">edited by: </p>
          &nbsp;
      <p class="editors">Hannah, Kammy, Andy, Jennifer</p>
    </div>
  </div>
</div>
</super-navigate>
    </div><!--end row-->
      
<div class="row">
<super-navigate location="editor#story">
    <div class="card">
    <div class="item item-divider">
        My Story 1
    </div>
  <div class="item item-text-wrap">
      <p class="italic">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Donec dictum posuere elit vitae efficitur.</p>
    <div class="row">
      <p class="bold">date posted:</p>
        &nbsp;
      <p class="date">09/06/2015</p>
      </div>
    <div class="row">
        <p class="bold">last updated: </p>
          &nbsp;  
        <p class="date">09/25/2015</p>
    </div> 
      <div class="row">
      <p class="bold">edited by: </p>
          &nbsp;
      <p class="editors">Hannah, Kammy, Andy, Jennifer</p>
    </div>
  </div>
</div>
</super-navigate>
          </div>
      </div>
</div><!--end container-->

</div>