<head>
<link href="bootstrap.css"/>
    <style>
        .piece-title{
            text-align: center;
        }
        p{
            -webkit-user-select:text;
        }

        /*p::selection {
            background: #ffb7b7;
        }
        
        p::-moz-selection {
            background: #ffb7b7;
        }*/

    </style>
</head>

<div ng-controller="IndexController">

  <super-navbar>
    <super-navbar-title>
      Editor
    </super-navbar-title>
  </super-navbar>

  <div class="padding">
    <h2 class="piece-title">Jordan</h2>
      <p contentEditable="true">The blue of his eyes must be fueled by the constant wild synapses in his mind, making connections from one idea to another in ways only eccentric, misunderstood artists can. His left eye has one brown freckle like a speck of brown paint leftover before his eyes decided to be brighter. 
      </p>
      <p contentEditable="true">Sometimes when there’s quiet you can hear the little hmm hmm he makes when he’s thinking, accompanied by the slight bouncing of his knee. He asks you often what you’re thinking about, trying to overlap your thoughts with his so when you’re sitting together the quiet feels more like concurrent imagining. Once you had a burst of inspiration while you were with him, and he smiled ever wider as you babbled on with just enough nonsense for him to understand exactly what you meant. 
      </p>
  </div>

</div>
</div>