<!DOCTYPE html>

<head>
<style>
    body { -webkit-touch-callout: none !important; }
    a { -webkit-user-select: none !important;       }
    
    #content{
        -webkit-touch-callout: none !important;
        -webkit-user-select: none !important;
        }
    p{
        -webkit-user-select:text;
    }
</style>
</head>
  <body id="content" ng-controller="AnnotatorController">
    
    <div mw-annotator="{}" annotator-permissions="{user: 'Alice'}" annotator-plugins="['Tags', {name: 'Filter', options: filterOptions}]">
      
      <h1>angular-annotator demo</h1>
      An angularjs directive that wraps annotator.js functionality.
      <br/><br/>
      https://github.com/mwasiluk/angular-annotator
      
      <br/><br/>
      
      Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nunc vulputate tortor nec dictum maximus. Maecenas a lacus a turpis tempus dapibus non vel dui. Suspendisse blandit luctus fringilla. Suspendisse condimentum tellus non urna pretium vulputate. Nulla pharetra consequat elit, at egestas sapien venenatis a. Sed eget efficitur elit. Aliquam ac orci sollicitudin, mollis lacus vel, condimentum orci.
      
      
    </div>
  </body>

</html>
