<head>
<link href="app/common/stylesheets/style.css" type="text/css"/>
</head>
<div ng-controller="IndexController">

  <super-navbar>
    <super-navbar-title>
      Updates
    </super-navbar-title>
  </super-navbar>

    
<div class="list">    
    <a class="item item-icon-right">
    Kammy commented on "Jordan"
<!--        <span aria-hidden="true" data-icon="&#xe603;" class="pencil2"></span>-->
    </a>
    
    <a class="item item-icon-right">
    Clinton King posted a new story
        <i class="icon icon-notification">              </i>
    </a>
    
    <a class="item item-icon-right">
    Lindsay Carbonell updated "Jordan"
        <i class="icon icon-notification">              </i>
    </a>
    
    <a class="item item-icon-right">
    Kammy commented on "Jordan"
        <i class="icon icon-notification">              </i>
    </a>
    
    <a class="item item-icon-right">
    Clinton King posted a new story
        <i class="icon icon-notification">              </i>
    </a>
    
    <a class="item item-icon-right">
    Lindsay Carbonell updated "Jordan"
        <i class="icon icon-notification">              </i>
    </a>
    <a class="item item-icon-right">
    Kammy commented on "Jordan"
        <i class="icon icon-notification">              </i>
    </a>
    
    <a class="item item-icon-right">
    Clinton King posted a new story
        <i class="icon icon-notification">              </i>
    </a>
    
    <a class="item item-icon-right">
    Lindsay Carbonell updated "Jordan"
        <i class="icon icon-notification">              </i>
    </a>
    <a class="item item-icon-right">
    Kammy commented on "Jordan"
        <i class="icon icon-notification">              </i>
    </a>
    
    <a class="item item-icon-right">
    Clinton King posted a new story
        <i class="icon icon-notification">              </i>
    </a>
    
    <a class="item item-icon-right">
    Lindsay Carbonell updated "Jordan"
        <i class="icon icon-notification">              </i>
    </a>
    
    
    
</div><!--end list-->
    


    
</div><!--/controller-->

