<head>
<style>
    .story-box{
        border:1px solid black;
        padding:5px;
/*        width:40vw;*/
        margin-right:10px;
        margin-bottom:10px;
    }
    .big-story-box{
        border:1px solid black;
        padding:5px;
        width:100vw;
        margin-right:10px;
        margin-bottom:10px;
    }
    h2{
        font-size:20px;
        text-align: center;
    }
    h3{
        font-size:12px;
    }
    p{
        font-size:10px;
    }
</style>
<link href="../css/bootstrap.css" />
</head>

<div ng-controller="IndexController">

  <super-navbar>
    <super-navbar-title>
      Home
    </super-navbar-title>
  </super-navbar>

  <div class="padding container">
      <div class="row">
    <div class="story-box">
        <h2>The Three Little Pigs</h2>
        <h3>By Winston Churchill</h3>
        <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Quisque augue mi, maximus et venenatis in, malesuada vel lorem.</p>
      </div>
      
      <div class="story-box">
        <h2>The Three Little Pigs</h2>
        <h3>By Winston Churchill</h3>
        <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Quisque augue mi, maximus et venenatis in, malesuada vel lorem.</p>
      </div>
          
      </div><!--end row-->
      
      <div class="row">
      
      <div class="story-box">
        <h2>The Three Little Pigs</h2>
        <h3>By Winston Churchill</h3>
        <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Quisque augue mi, maximus et venenatis in, malesuada vel lorem.</p>
      </div>
      
      <div class="story-box">
        <h2>The Three Little Pigs</h2>
        <h3>By Winston Churchill</h3>
        <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Quisque augue mi, maximus et venenatis in, malesuada vel lorem.</p>
      </div>
    </div><!--end row-->
      
      <div class="row">
      <div class="big-story-box">
          <h2>The Three Little Pigs</h2>
        <h3>By Winston Churchill</h3>
        <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Quisque augue mi, maximus et venenatis in, malesuada vel lorem.</p>
      </div>
          </div>
      </div>
</div><!--end container-->

</div>